<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/icoker">Ian Coker</a>. Ian is a web developer who is on a mission to gain the technical skills needed to launch his idea into reality.
  </p>
  <br />
  <p>
    Together with two other developers, Ian plans to build a fully functional stress and thermal modelling web application for current clients using a desktop version of the same application.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Ian Coker Headshot.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">      
      <h2 class="text-center">Ian Coker</h2>
      <br />
      <p>
        Ian Coker is a developer and business systems specialist. He has worked with <a target="_blank" href="http://www.altuswellexperts.com">Altus Well Experts, Inc.</a> since 20011.
      </p>
    </div>
    <br class="clear" />

  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />